<header class="intro-header" style="background-image: url({{ picture || '/img/home-bg.jpg' }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>devBlog</h1>
                    <hr class="small">
                    <span class="subheading">A Blog for Practice</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article ng-show="showP">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a ng-click="hidePost()">
                        <h2 class="post-title" data-toggle="tooltip" data-placement="top" title="Click To Close The Post">
                            {{title}}
                        </h2>

                        <h3 class="post-subtitle">
                            {{subtitle}}
                        </h3>
                    </a>

                    <p>{{content}}</p>

                    <p class="post-meta">Posted by {{useremail}} on {{createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container" ng-controller="PostCtrl">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h4>Leave a Comment:</h4>

                <form role="form" ng-submit="addComment()">
                    <div class="form-group">
                        <textarea ng-model="comment" class="form-control" rows="3"></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container" ng-init="commentsOfPost()">
        <div class="row" ng-repeat=" post in posts">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Comment -->

                <div class="media-body">
                    <h4 class="media-heading">
                        <small>{{post.comments.createdAt}}</small>
                    </h4 >
                    <h3>{{post.comment}}</h3>
                </div>
            </div>
        </div>
    </div>
    </div>
<br>
<br>
<hr>
</div>
</article>

<!-- Comments Form -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div ng-repeat="post in posts">
                <div class="post-preview">
                    <a ng-click="showPost(post)">
                        <h2 class="post-title">
                            {{post.title}}
                        </h2>
                        <h3 class="post-subtitle">
                            {{post.subtitle}}
                        </h3>
                        <h1 ng-repeat="post in post.comments">
                            {{post.comment}}
                        </h1>
                    </a>
                    <p class="post-meta">Posted by <a href="#">{{post.useremail}}</a> on {{post.createdAt}}</p>
                    <p class="post-meta">Posted by < href="#">{{post.id}}</p>
                </div>
                <hr>
            </div>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>