<!DOCTYPE html>
<html lang="bs_BA" ng-app="app">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="Blog System Built on nodejs (sails framework) & angularjs & mongodb">
<meta name="author" content="Dastko">

<head>
	<title>Title of the document</title>
	<!-- inject:css -->
	<link rel="stylesheet" href="angular-toastr.css">
	<link rel="stylesheet" href="bootstrap.min.css">
	<link rel="stylesheet" href="clean-blog.min.css">
	<link rel="stylesheet" href="metisMenu.min.css">
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="sb-admin-2.css">
	<link rel="stylesheet" href="signin.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="timeline.css">
	<!-- endinject -->

	<!-- CUSTOM FONTS -->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
	rel='stylesheet' type='text/css'>

</head>

<body>


	<header role="banner">
		<div id="cd-logo">
			<a href="#0"><img src="img/cd-logo.svg" alt="Logo"></a>
		</div>

		<nav class="main-nav">
			<ul>
				<!-- inser more links here -->
				<li><a class="cd-signin" href="#0">Sign in</a></li>
				<li><a class="cd-signup" href="#0">Sign up</a></li>
			</ul>
		</nav>
	</header>

	<div class="cd-user-modal">
		<!-- this is the entire modal form, including the background -->
		<div class="cd-user-modal-container">
			<!-- this is the container wrapper -->
			<ul class="cd-switcher">
				<li><a href="#0">Sign in</a></li>
				<li><a href="#0">New account</a></li>
			</ul>

			<div id="cd-login">
				<!-- log in form -->
				<form class="cd-form" ng-controller="LoginCtrl" ng-submit="loginSubmit()">
					<p class="fieldset">
						<label class="image-replace cd-email" for="inputEmail">E-mail</label>
						<input ng-model="email" class="full-width has-padding has-border" type="email" name="email" id="inputEmail" placeholder="E-mail" required>
					</p>
					<p class="fieldset">
						<label class="image-replace cd-password" for="inputPassword">Password</label>
						<input class="full-width has-padding has-border" ng-model="password" ng-maxlength="20" ng-minlength="8" type="text" id="inputPassword" name="password" placeholder="Password" placeholder="Password" required>
						<a href="#0" class="hide-password">Hide</a>
					</p>
					<p class="fieldset">
       				 <button class="btn btn-sm btn-primary btn-block" type="submit">Sign in</button>

					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Forgot your password?</a></p>
				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div>
			<!-- cd-login -->

			<div id="cd-signup" ng-controller="SignupCtrl">
				<!-- sign up form -->
				<form class="cd-form" ng-submit="submitSignupForm()" id="sign-up-form" class="form-signin" name="signup">
					<p class="fieldset" ng-class="{'has-error':signup.name.$invalid &&
                       signup.name.$dirty}">
						<label class="image-replace cd-username" for="name">Name</label>
						<input class="full-width has-padding has-border" ng-model="signupForm.name" type="text" name="name" id="name" placeholder="Username" autofocus>
						<span ng-if="signup.name.$dirty">
               			 <span class="cd-error-message" ng-show="signup.name.$error.required">Name is required.</span>
						<span class="cd-form-message" ng-show="signup.name.$error.maxlength">The name cannot be more than 50 characters.</span>
						</span>
					</p>
					<p class="fieldset" ng-class="{'has-error':signup.email.$invalid &&
                       signup.email.$dirty}">
						<label class="image-replace cd-email" for="inputEmail">E-mail</label>
						<input class="full-width has-padding has-border" ng-model="signupForm.email" type="email" name="email" id="inputEmail" placeholder="E-mail">
						<span ng-if="signup.email.$dirty">
             		   	<span class="cd-form-message" ng-show="signup.email.$error.required">Email address is required.</span>
						<span class="cd-form-message" ng-show="signup.email.$error.email">Not a valid email address.</span>
						</span>
					</p>
					<p class="fieldset" ng-class="{'has-error':signup.password.$invalid &&
                       signup.password.$dirty}">
						<label class="image-replace cd-password" for="password">Password</label>
						<input class="full-width has-padding has-border" ng-model="signupForm.password" ng-maxlength="20" ng-minlength="8" type="text"
						id="password" name="password" placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="help-block has-error" ng-if="signup.password.$dirty">
             		   <span class="cd-form-message" ng-show="signup.password.$error.required">Password is required.</span>
						<span class="cd-form-message" ng-show="signup.password.$error.minlength">Password must be at least 8 characters.</span>
						</span>
					</p>
					<p class="fieldset">
						<label class="image-replace cd-password" for="password">Re-enter your password</label>
						<input class="full-width has-padding has-border" name="confirmation" ng-model="signupForm.confirmPassword" placeholder="Password">
						<a href="#0" class="hide-password">Hide</a>
						<span class="help-block has-error" ng-if="signup.confirmation.$dirty">
               			 <span class="cd-form-message" ng-show="signup.password.$error.compareTo">Password must match.</span>
						<span class="cd-form-message" ng-show="signup.confirmation.$error.required">Confirmation password is required.</span>
						</span>
					</p>

					<p class="fieldset">
						<button class="btn btn-sm btn-primary btn-block" type="submit" ng-disabled="signup.$invalid">
							<span ng-show="!signupForm.loading"> Create Account</span>
							<span class="overlord-loading-spinner fa fa-spinner" ng-show="signupForm.loading"></span>
							<span ng-show="signupForm.loading"> Preparing new account</span>
						</button>
					</p>
				</form>

				<!-- <a href="#0" class="cd-close-form">Close</a> -->
			</div>
			<!-- cd-signup -->

			<div id="cd-reset-password">
				<!-- reset password form -->
				<p class="cd-form-message">Lost your password? Please enter your email address. You will receive a link to create a new password.</p>

				<form class="cd-form">
					<p class="fieldset">
						<label class="image-replace cd-email" for="reset-email">E-mail</label>
						<input class="full-width has-padding has-border" id="reset-email" type="email" placeholder="E-mail">
						<span class="cd-error-message">Error message here!</span>
					</p>

					<p class="fieldset">
						<input class="full-width has-padding" type="submit" value="Reset password">
					</p>
				</form>

				<p class="cd-form-bottom-message"><a href="#0">Back to log-in</a></p>
			</div>
			<!-- cd-reset-password -->
			<a href="#0" class="cd-close-form">Close</a>
		</div>
		<!-- cd-user-modal-container -->
	</div>
	<!-- cd-user-modal -->
	<!-- MAIN CONTENT -->
	<div ui-view>

	</div>

	<hr>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<!-- vendorInject:js -->
	<script src="vendor/angular.js"></script>
	<script src="vendor/satellizer.js"></script>
	<script src="vendor/angular-ui-router.js"></script>
	<script src="vendor/angular-toastr.tpls.js"></script>
	<script src="vendor/angular-animate.js"></script>
	<script src="vendor/ui-bootstrap-tpls.js"></script>
	<script src="vendor/jquery.js"></script>
	<script src="vendor/angular-resource.js"></script>
	<script src="vendor/metisMenu.js"></script>
	<!-- endinject -->


	<!-- inject:js -->
	<script src="app.js"></script>
	<script src="commentCtrl.js"></script>
	<script src="compareTo.directive.js"></script>
	<script src="jquery.validate.min.js"></script>
	<script src="loginCtrl.js"></script>
	<script src="main.js"></script>
	<script src="modernizr.js"></script>
	<script src="postCtrl.js"></script>
	<script src="resourceservice.js"></script>
	<script src="signupCtrl.js"></script>
	<!-- endinject -->

</body>

</html>