<header class="intro-header" style="background-image: url({{ picture || '/img/post-bg.jpg' }})">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>devBlog</h1>
                    <hr class="small">
                    <span class="subheading">A Blog for Practice</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article ng-controller="PostCtrl">
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview"">
                    <a>
                        <h2 class="post-title" data-toggle="tooltip" data-placement="top" title="Click To Close The Post">
                            {{post.title}}
                        </h2>

                        <h3 class="post-subtitle">
                            {{post.subtitle}}
                        </h3>
                    </a>

                    <p>{{post.content}}</p>
                    <div class="container" ng-controller="CommentCtrl">
                        <div class="row">

                            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                                <h4>Leave a Comment:</h4>

                                <form role="form" ng-submit="newComment()">
                                    <div class="form-group">
                                        <textarea ng-model="commentData.comment" class="form-control" rows="3"></textarea>

                                    </div>
                                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                    

                                </form>
                                </div>

                            </div>       
                              <div class="container">
                                    <div class="row" ng-repeat="comment in post.comments">
                                        <h1>Comment: {{comment.comment}}</h1>




            

            </div>
            </div>
        </div>
    </div>
    </div>
            </div>
        </div>
                    <p class="post-meta">Posted by {{post.useremail}} on {{post.createdAt}}</p>
                </div>
            </div>
        </div>
    </div>
</article>