<header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>devBlog</h1>
                    <hr class="small">
                    <span class="subheading">A Blog for Practice</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">

            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a>
                        <h2 class="post-title" data-toggle="tooltip" data-placement="top" title="Click To Close The Post">
                        </h2>

                        <h3 class="post-subtitle">
                        </h3>
                    </a>

                    <p></p>

                    <p class="post-meta">Posted by</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <h4>Leave a Comment:</h4>

                <form role="form">
                    <div class="form-group">
                        <textarea ng-model="comment" class="form-control" rows="3"></textarea>
                        <textarea name="poster" id="poster" class="form-control" rows="3" disabled>{{id}}</textarea>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <!-- Comment -->

                <div class="media-body">
                    <h4 class="media-heading">
                        <small></small>
                    </h4 >
                    <h3></h3>
                </div>
            </div>
        </div>
    </div>
    </div>
<br>
<br>
<hr>
</div>
</article>

<!-- Comments Form -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div >
                <div class="post-preview">
                    <a >
                        <h2 class="post-title">
                        </h2>
                        <h3 class="post-subtitle">
                        </h3>
                        <h1 >
                        </h1>
                    </a>
                    <p class="post-meta">Posted by <a href="#"></p>
                    <p class="post-meta">Posted by < href="#"></p>
                </div>
                <hr>
            </div>

            <!-- Pager -->
            <ul class="pager">
                <li class="next">
                    <a href="#">Older Posts &rarr;</a>
                </li>
            </ul>
        </div>
    </div>
</div>